[submodule "submodules/bwa"]
	path = submodules/bwa
	url = https://github.com/lh3/bwa
[submodule "submodules/miniasm"]
	path = submodules/miniasm
	url = https://github.com/lh3/miniasm
[submodule "submodules/racon"]
	path = submodules/racon
	url = https://github.com/isovic/racon
[submodule "submodules/scrappie"]
	path = submodules/scrappie
	url = https://github.com/nanoporetech/scrappie.git
[submodule "submodules/minimap2"]
	path = submodules/minimap2
	url = https://github.com/lh3/minimap2
[submodule "submodules/bwapy"]
	path = submodules/bwapy
	url = https://github.com/nanoporetech/bwapy
