# pomoxis requirements. 
# Add comments to keep track of why we are using particular versions
aiozmq
biopython >= 1.63
cffi
fast5_research
intervaltree >= 3
matplotlib
mappy
msgpack-python
numpy
pandas
pysam
scrappie
watchdog
git+https://github.com/rrwick/Porechop

