# pomoxis requirements. 
# Add comments to keep track of why we are using particular versions
aiozmq
biopython >= 1.63
cffi
fast5_research
matplotlib
mappy
msgpack-python
numpy <= 1.13.3
pandas
pysam
scrappie
sphinx-argparse
watchdog
git+https://github.com/rrwick/Porechop
