# pomoxis requirements. 
# Add comments to keep track of why we are using particular versions
biopython
intervaltree >= 3  # various bugs in 2.x
matplotlib
numpy >=2.0
pandas
pysam >= 0.22 # Brings into line with htslib>=1.16
